@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  text-align: center;
}

.thumbnail{
  max-width: 100px;
  max-height: 100px;
}

.contact-row td{
  padding: 10px 0;
}

.modal{
  display: block !important;
}


